@font-face{
    font-family: 'Open Sans Light';
    src: url('../fonts/OpenSans-Light');
}

@font-face{
    font-family: 'Open Sans Regular';
    src: url('../fonts/OpenSans-Regular');
}


@font-face{
    font-family: 'Open Sans ExtraBold';
    src: url('../fonts/OpenSans-ExtraBold');
}

@font-face{
    font-family: 'Montserrat Regular';
    src: url('../fonts/Montserrat-Regular');
}

@font-face{
    font-family: 'Open Sans Italic';
    src: url('../fonts/OpenSans-Italic');
}
